<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>Brewery Search</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-sm-8">
            <div class="input-group">
              <input formControlName="search" type="text" class="form-control" placeholder="Zip Code"/>
              <div class="input-group-btn">
                <button (click)="onSearch()" class="btn btn-primary" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <!-- Add some bootleg spacing.  Don't do this at home kids-->
    <div class="col-xs-12" style="height:15px;"></div>
  </div>

  <div class="row">
    <div *ngFor="let brewery of breweryArray" class="col-md-4">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{{brewery.logoUrl}}">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="{{brewery.website}}">{{brewery.name}}</a></h4> {{brewery.streetAddress}}
        </div>
      </div>
    </div>
  </div>
</div>
