<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>Brewery Search</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="row">
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Zip Code"/>
              <div class="input-group-btn">
                <button class="btn btn-primary">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <!-- Add some bootleg spacing.  Don't do this at home kids-->
    <div class="col-xs-12" style="height:15px;"></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="https://s3.amazonaws.com/brewerydbapi/brewery/Idm5Y5/upload_O8MoRg-icon.png">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="https://foundersbrewing.com/">Founders Brewing Company</a></h4> 20 Monroe Avenue NW
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="https://s3.amazonaws.com/brewerydbapi/brewery/noGtDY/upload_wkGjOC-icon.png">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="http://www.bellsbeer.com/">Bell's Brewery</a></h4> 8938 Krum Ave.
        </div>
      </div>
    </div>
  </div>
</div>
